<% layout("/layouts/boilerplate") %>

<div class="row mt-4">
  <div class="alert alert-danger col-6 offset-3" role="alert">
    <p class="alert-heading text-center"><%= message %></p>
  </div>
</div>
